#map-info {
  background: #3f3d3e;
  color: #fff;
  float: left;
  font-size: 0.9em;
  width: 350px;
  z-index: 100000;
}

#map-info .featureName {
  background: #3376a3;
  font-family: verdana, arial, sans-serif;
  padding: 10px;
  text-transform: uppercase;
}

#map-info .featureName a {
  color: #fff;
  text-decoration: none;
}

#map-info .featureDesc {
  padding: 10px;
}

#map-info .toggleIt {
  background: #f8f7f2;
  float: right;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  padding: 0 4px;
  text-decoration: none !Important;
}

#popup_GroupDiv {
  display: hidden;
}

#layers-selector {
  background: #dcd8cd;
  float: left;
  font-size: 0.9em;
  padding: 0px 0px 0 0px;
  width: 82px;
  z-index: 100000;
}

#toolset {
  float: right;
  position: relative;
}

#block-block-2 {
  display: none;
}

#block-block-2 input[type=checkbox] {
  display: none;
}

#block-block-2 .labelSpan {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


#block-block-2 input[type=checkbox][name=Alerts] + label {
  background: url(../images/icon-alert-32px.png) no-repeat center center;
  height: 81px;
  width: 64px;
  display: inline-block;
  padding: 0;
}

#block-block-2 input[type=checkbox][name=Alerts]:checked + label{
  background: url(../images/icon-alert-64px.png) no-repeat;
  height: 81px;
  width: 64px;
  display: inline-block;
  padding: 0;
}

#block-block-2 input[type=checkbox][name=Storages] + label {
  background: url(../images/icon-storage-32px.png) no-repeat center center;
  height: 81px;
  width: 64px;
  display: inline-block;
  padding: 0;
}

#block-block-2 input[type=checkbox][name=Storages]:checked + label{
  background: url(../images/icon-storage-64px.png) no-repeat;
  height: 81px;
  width: 64px;
  display: inline-block;
  padding: 0;
}

#block-block-2 input[type=checkbox][name='Weirs'] + label {
  background: url(../images/icon-wier-32px.png) no-repeat center center;
  height: 81px;
  width: 64px;
  display: inline-block;
  padding: 0;
}

#block-block-2 input[type=checkbox][name='Weirs']:checked + label{
  background: url(../images/icon-wier-64px.png) no-repeat;
  height: 81px;
  width: 64px;
  display: inline-block;
  padding: 0;
}

#block-block-2 input[type=checkbox][name='River Gauges'] + label {
  background: url(../images/icon-flow-32px.png) no-repeat center center;
  height: 81px;
  width: 64px;
  display: inline-block;
  padding: 0;
}

#block-block-2 input[type=checkbox][name='River Gauges']:checked + label{
  background: url(../images/icon-flow-64px.png) no-repeat;
  height: 81px;
  width: 64px;
  display: inline-block;
  padding: 0;
}

.flyout {
  background: #dcd8cd;
  color: #666;
  float: right;
  font-size: 26px;
  margin-right: 82px;
  margin-top: -76px;
  padding: 10px;
  text-indent: 0;
  text-transform: uppercase;
  width: 220px;
}

.composite-storage {
  background: #3f3d3e;
  color: #fff;
  float: left;
  padding: 10px 0;
  width: 100%;
}

.percentage {
  float:left;
}

.percentageInner {
  color: #000;
  font-size: 200%;
  font-weight: bold;
  left: 10%;
  position: absolute;
  top: 30%;
}
.labelStor {
  font-size: 14px;
  font-weight: bold;
}
.composite-storage .numbers {
  background: #777;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 100px;
  border-top-right-radius: 20px;
  height: 60px;
  padding: 5px;
}
.current-storage,
.capacity-storage{
  float: left;
  font-size: 30px;
  font-weight: bold;
  height: 60px;
  width: 106px;
}
.capacity-storage {
  background: #222;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 10px;
}
.composite-storage .unit {
  font-size: 14px;
}
.composite-storage .current-level,
.composite-storage .total-capacity {
  font-size: 8px;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
  top: -30px;
}
.timestamp-storage {
  clear: both;
  display: none;
}

